* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background: rgba(0, 0, 0, 0.80);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    width: 147px;
    height: 30px;
    background: url(images/logo.png) no-repeat center / 100%;

}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 18px;
}

.nav_links li a {
    transition: all .4s ease 0s;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
}

.nav_links li a:hover {
    color: #e0aa09;
}

.home {
    width: 100%;
    height: 100vh;
    background: url(images/section1.png) no-repeat center / cover;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .title h1 {
    font-size: 120px;
    font-weight: bold;
    color: #fff;
}
.home .butwork .lasteswork {
    padding: 15px 35px;
    margin-top: 20px;
    color: #fff;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.home .butwork .lasteswork:hover {
    color: #000;
    background: #fff;
    transition: 0.5s linear;
}

.portfolio {
    width: 100%;
    height: 100vh;
    background: #000;
    padding: 1% 6%;
    display: flex;
    justify-content: space-around;
    gap: 7%;

}

.portfolio .Reputationtext {
    width: 49%;

}

.portfolio .Reputationtext h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-bottom: 30px;
    color: #fff;
    border-bottom: 1px solid #ffc107;
}

.portfolio .Reputationtext p {
    margin: 35px 0 35px 0;
    line-height: 24px;
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.portfolio .Reputationtext p span {
    font-size: 16px;
    color: #fff;
}

.portfolio .Reputationtext .portbut {
    padding: 15px 35px;
    color: #fff;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.portfolio .Reputationtext .portbut:hover {
    color: #000;
    background: #fff;
    transition: 0.5s linear;
}

.portfolio .about {
    width: 35%;
    height: 80%;
    position: relative;

}

.portfolio .about .imggirl {
    width: 100%;
    height: 100%;
    background: url(images/girl.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}

.portfolio .about .backhov {
    width: 100%;
    height: 100%;
    background: #ffc107;
    position: absolute;
    transition: .5s linear;
    transform: translate(30px, 30px);
    top: 0;
}

.portfolio .about:hover .backhov {
    transform: translate(0);
}

.about1 {
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    padding: 20px 20px;
}


.about1 .header1 {
    width: 40%;
    height: 25%;
    margin-left: 30%;

}

.about1 .header1 h2 {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

.about1 .header1 p {
    text-align: center;
    color: #9E9E9E;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 1.6;
}
.about1 .worktype {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 30px;
}
.about1 .worktype .box {
    height: 30%;
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about1 .worktype .box .iconbox {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffc107;
    text-align: center;

}

.about1 .box p {
    color: #9e9e9e;
    letter-spacing: .5px;
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.6;
}

.about1 .box h3 {
    font-size: 14px;
    letter-spacing: 2px;
}

.about2 {
    width: 100%;
    height: 70vh;
    border: 1px solid;
    background: url(images/section4.jpg) no-repeat center / cover;
    background-attachment: fixed;

}

.about2 .filter {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 40, 40, 0.815);
}

.about2 .filter .withus {
    width: 60%;
    height: 50%;
    text-align: center;
}

.about2 .filter .withus h3 {
    font-size: 55px;
    font-weight: bold;
    color: #fff;
}

.about2 .filter .withus p {
    color: #fff;
    letter-spacing: 1px;
    margin-top: 30px;
}

.about2 .filter .withus .but4 {
    padding: 15px 35px;
    margin-top: 30px;
    color: #fff;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.about2 .filter .withus .but4:hover {
    color: #000;
    background: #fff;
    transition: 0.5s linear;
}

.work {
    width: 100%;
    background: #000;
    text-align: center;
}

.work .title-work h2{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 100px 0 40px 0;
}
.work .title-work .work-nav {
    text-align: center;
    padding: 0 0 40px 0;
}
.work .title-work .work-nav a {
    color: #7c7c7c;
    text-decoration: none;
    font-size: 16px;
    margin-right: 40px;
    transition: .5s;
}
.work .title-work .work-nav a:hover {
    color: #e0aa09;
}

.work .portfilo {
    width: 100%;
    height: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.work .portfilo .img1 {
    background: url(images/portfiloimg1.gif) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 279px;
}
.work .portfilo .img2 {
    background: url(images/portfiloimg2.jpg) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 279px;
}
.work .portfilo .img3 {
    background: url(images/portfiloimg3.gif) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 279px;
}
.work .portfilo .img4 {
    background: url(images/portfiloimg4.jpg) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 279px;
    margin-top: -72px;
}
.work .portfilo .img5 {
    background: url(images/portfiloimg5.jpg) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 350px;
}
.work .portfilo .img6 {
    background: url(images/portfiloimg6.gif) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 244px;
    margin-top: -104px;
}
.work .portfilo .img7 {
    background: url(images/portfiloimg7.jpg) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 279px;
    margin-top: -140px;
}
.work .portfilo .img8 {
    background: url(images/portfiloimg8.png) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 279px;
}
.work .portfilo .img9 {
    background: url(images/portfiloimg9.gif) no-repeat center  / cover;
    border: 1px solid;
    width: 350px;
    height: 279px;
    margin-top: -204px;
}
.work .workbut {
    padding: 16px 45px;
    margin-top: 60px;
    color: #fff;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    
}
.work .workbut:hover {
    color: #000;
    background: #fff;
    transition: 0.5s linear;
}
.team {
    width: 100%;
    background: #000;
}
.team .team-title {
    text-align: center;
    padding: 100px 0 40px 0;
    width: 40%;
    margin-left: 30%;
    
}
.team .team-title h2 {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
}
.team .team-title p {
    color: #9e9e9e;

}
.team .team-img {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    justify-content: center;
}
.team .team-img .tm1 {
    width: 25%;
    height: 600px;
    background: url(images/teamimg1.png) no-repeat bottom / 120%;
}
.team .team-img .tm2 {
    width: 25%;
    height: 600px;
    background: url(images/teamimg2.png) no-repeat bottom / 120%;   
}
.team .team-img .tm3 {
    width: 25%;
    height: 600px;
    background: url(images/teamimg3.png) no-repeat bottom / 120%;  
}
.team .teamName {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    justify-content: center;
}
.team .teamName .name1 {
    width: 25%;
    height: 150px;
    text-align: center;
    padding-top: 15px;

}
.team .teamName .name1 p {
    color: #9e9e9e;
    font-size: 14px;
    padding-top: 15px;
    letter-spacing: 1.5px;

}
.team .teamName .name1 h4 {
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 1.5px;
    transition: 0.3s;
}
.team .teamName .name1 h4:hover {
    color: #ffc107;
}
.team .teamName .name1 span {
    color: #fff;
    font-size: 30px;
    letter-spacing: 8px;


}
.team .teamName .name2 {
    width: 25%;
    height: 150px;
    text-align: center;
    padding-top: 15px;

}
.team .teamName .name2 p {
    color: #9e9e9e;
    font-size: 14px;
    padding-top: 15px;
    letter-spacing: 1.5px;


}
.team .teamName .name2 h4 {
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 1.5px;
    transition: 0.3s;
}
.team .teamName .name2 h4:hover {
    color: #ffc107;
}
.team .teamName .name2 span {
    color: #fff;
    font-size: 30px;
    letter-spacing: 8px;
}
.team .teamName .name3 {
    width: 25%;
    height: 150px;
    text-align: center;
    padding-top: 15px;
    
}
.team .teamName .name3 p {
    color: #9e9e9e;
    font-size: 14px;
    padding-top: 15px;
    letter-spacing: 1.5px;

}
.team .teamName .name3 h4 {
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 1.5px;
    transition: 0.3s;
}
.team .teamName .name3 h4:hover {
    color: #ffc107;
}
.team .teamName .name3 span {
    color: #fff;
    font-size: 30px;
    letter-spacing: 8px;
}
.teamsect2{
    width: 100%;
    height: 50vh;
    background: #121212;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.teamsect2 .circ {
    width: 170px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.teamsect2 .circle {
    width: 100px;
    height: 100px;
    border: 1px solid ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.teamsect2 .circle::before {
    content: "";
    width: 85px;
    height: 85px;
    border: 1px solid ;
    border-radius: 50%;
    background: #121212;
    
}
.teamsect2 .circle h2 {
    position: absolute;
    font-size: 30px;
    color: #fff;
}
.teamsect2 .circ p {
    color: #fff;
    font-size: 16px;
}
.teamsect2 .circle1{
    background: conic-gradient(#fff 0deg 180deg, #4948489c 180deg 270deg, #fff 270deg 360deg);
}
.teamsect2 .circle2{
    background: conic-gradient(#fff 0deg 150deg, #4948489c 150deg 270deg, #fff 270deg 360deg);
}
.teamsect2 .circle3{
    background: conic-gradient(#fff 0deg 90deg, #4948489c 90deg 270deg, #fff 270deg 360deg);
}
.teamsect2 .circle4{
    background: conic-gradient(#fff 0deg 230deg, #4948489c 230deg 270deg, #fff 270deg 360deg);
}
.teamsect2 .circle5{
    background: conic-gradient(#fff 0deg 20deg, #4948489c 20deg 270deg, #fff 270deg 360deg);
}
.teamsect2 .circle6{
    background: conic-gradient(#fff 0deg 140deg, #4948489c 140deg 270deg, #fff 270deg 360deg);
}
.ourblogs {
    width: 100%;
    height: 100vh;
    background: #000;
}